﻿@model List<TestViewModel>

@{
    ViewData["Title"] = "Test Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Insert Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.InsertDateTime</td>
            </tr>
        }
    </tbody>
</table>